
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #F8F8FF;
}

.container {
    margin-top: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background: #c8cbff;
    width: 320px;
}

.title {
    font-size: 24px;
    font-weight: 720;
}

.logoContainer {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.logoContainer:hover {
    background: #f4f4f4;
}

.logo {
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    line-height: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    color: black;
}

.logo span {
    display: block;
    margin-left: 0.2em;
    font-weight: normal;
}

.logo span::first-letter {
    font-weight: bold;
}

.logoImage {
    width: 100px;
    height: 80px;
}

.inputGroup {
    margin-bottom: 1rem;
}

.inputGroup label {
    display: block;
    text-align: left;
    font-size: 0.9rem;
    margin-bottom: 0.2rem;
}

.inputGroup input {
    width: calc(100% - 1rem);
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    outline: none;
}

.inputGroup input:focus {
    border-color: #007bff;
}

.button {
    background-color: #8a8ae6;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    border: 2px solid transparent;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
    width: 80%;
    font-weight: bold;
}

.button:hover {
    background-color: #6161d5;
    box-shadow: 0 8px 16px rgba(0, 102, 204, 0.4);
    transform: translateY(-1px);
}

.button:active {
    background-color: #38387c;
    box-shadow: 0 4px 8px rgba(0, 102, 204, 0.2);
    transform: translateY(0);
}


.signUpPrompt {
    font-size: 0.8rem;
}

.signUpPrompt a {
    color: #007bff;
    text-decoration: none;
    font-weight: 500;
}
